
.compare_product{
    padding-top: 10vh;
    padding-left: 19vw;
    margin-right: 0vw;
}
.thumbnail{
    width: 150px;
}
.button{
    width: auto;
    border: none;
    border-radius: 4px;
    background-color: #1876D1;
    color: white;
    padding: 1vh;
    cursor: pointer;
}
.comparison{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1200px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 23vw;
        margin-right: 3vw;
    }
}
@media screen and (max-width: 1060px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 24vw;
        margin-right: 0vw;
    }
}
@media screen and (max-width: 996px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 26vw;
        margin-right: 0vw;
    }
}
@media screen and (max-width: 900px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 28vw;
        margin-right: 0vw;
    }
}
@media screen and (max-width: 840px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 30vw;
        margin-right: 0vw;
    }
    .thumbnail{
        width: 100px;
    }
}
@media screen and (max-width: 800px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 32vw;
        margin-right: 0vw;
    }
    .thumbnail{
        width: 100px;
    }
}
@media screen and (max-width: 740px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 34vw;
        margin-right: 0vw;
    }
    .thumbnail{
        width: 100px;
    }
}
@media screen and (max-width: 700px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 36vw;
        margin-right: 0vw;
    }
    .thumbnail{
        width: 100px;
    }
}
@media screen and (max-width: 640px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 38vw;
        margin-right: 0vw;
    }
    .thumbnail{
        width: 100px;
    }
}
@media screen and (max-width: 599px){
    .compare_product{
        padding-top: 10vh;
        padding-left: 2vw;
        margin-right: 0vw;
        padding-right: 2vw;
    }
    .thumbnail{
        width: 100px;
    }
}